* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    overflow-y: auto;
}

h2 {
    color: grey;
}

.square {
    width: 60%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

#lista-mail, h2 {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    font: bold;
    font-size: 30px;
    padding-top: 50px ;
}

